{% extends 'base.html.twig' %}

{% block title %}New post{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href= "{{ asset('css/basic-template.css')}}">
{% endblock %}
{% block body %}
    <div id = "formNew">
        <form method="post" action="/{username}/new" name="newPost" enctype="multipart/form-data">
            <div class = "holder">
                <label for = "title">Title:<br>
                    <input type="text" id = "title">
                </label>
                <br>
            </div>
            <div class = "holder">
                <label for = "author">Author:<br>
                    <input type="text" id = "author">
                </label>
            </div>

            <input type="hidden" id = "date">
            <input type="hidden" id = "time">

            <div class="holder">
                <label for="file" >Picture:</label>

                    <input type="file" name="file" id="file">

            </div>
                <br>
            <div class = "holder">
                <label for = "post-text"> Text of the post: <br>
                    <textarea cols = "40" rows="10"placeholder="Type your post here..." id = "post-text"></textarea>
                </label>
            </div>

            <div class = "holder">
                <input type = "submit" name = "NewPost" id = "NP" value = "Submit">
            </div>

        </form>
    </div>
{% endblock %}

{% block user %}
    <span>Hello, {{ username }}!</span>
{% endblock %}