<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>VA BLOG || {% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel='stylesheet' href= "{{ asset('css/basic-template.css')}}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

    <div id="wrapper">

        <aside id="left">

            <div id = "search"><input type = "search" placeholder="search"></div><br>

            {% block nav %}

            {% endblock %}

            <div id = "NameAndLogo">
                <div id = "Logo">VA</div>
                <h1>Blog</h1>
            </div>

                <nav class = "mainNav">
                        <ul class="navigation">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li> <a href = "#">Settings</a></li>
                        </ul>
                        <div class = "copyright">Created by <a href="https://github.com/Leratony">Leratony</a></div>
                </nav>

                <div id = "mySocial">
                    <ul>
                        <li><a href = "https://www.facebook.com/Valeria-Antnva-2119521821628416/"><img src ="images/facebook.png"></a></li>
                        <li><a href = "https://twitter.com/EvaAntonevich"><img src ="images/twitter.png"></a></li>
                        <li><a href = "https://www.instagram.com/antonia.v1/"><img src ="images/instagram.png"></a></li>
                        <li><a href = "https://plus.google.com/u/0/108193004433897722654"><img src ="images/google.png"></a></li>
                    </ul>
                </div>

        </aside>

        <main>

            {% block body %}


                <div id="openModal" class="modalDialog">


                        <a href="#close" title="Закрыть" class="close">X</a>
                        <div id = "article2">
                            <div class="artTitle2">
                                <h2>Title of article</h2>
                            </div>
                            <div class = "autor2">
                                <span>Author: John Doe</span>
                            </div>
                            <div class="datePubl2">
                                <span>Date: 01/01/2018</span>
                            </div>
                            <div class = "timePubl2">
                                <span>Time: 23:03:44 </span>
                            </div>


                            <div class="picArt2">
                                <img id = "artPic" src="#" />
                            </div>

                            <div class="descriptArt2">

                        <span>
Почему он используется?<br>
Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
<br>Где его взять? <br>
Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.
                        </span>
                            </div>



                            <div class = "comments">
                                <span> Write your comments here..</span>
                            </div>

                    </div>


                </div>




                <div id = "article">
                    <div class="artTitle">
                        <h2>Title of article</h2>
                    </div>
                    <div class = "autor">
                        <span>Author: John Doe</span>
                    </div>
                    <div class="datePubl">
                        <span>Date: 01/01/2018</span>
                    </div>
                    <div class = "timePubl">
                        <span>Time: 23:03:44 </span>
                    </div>
                    <div class="picArt">
                        <img id = "artPic" src="{{ asset('images/364015_motocikl_krasnyj_motocikly_1920x1200_(www.GetBg.net).jpg') }}" />
                    </div>

                    <div class="descriptArt">

                        <span>
                            Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
                        </span>


                    </div>
                    <a href="#openModal" id="artMore">Read More</a>

                    <div id = "commentsAndViews">
                        <span id = "comments">5 comments </span>
                        <span id = "views">123 views</span>
                    </div>
                </div>











            {% endblock %}
        </main>


        <aside id="right">


            <div id = "userStatus">
                {% block user %}{% endblock %}
            </div>

            {% block sidebar %}
            {% endblock %}
        </aside>
    </div>



        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
