{% extends 'layoutUser.html.twig' %}

    {% block title %} username {% endblock %}



    {%  block WallContent %}


        <div class = "formNew">
            <form method="post" action="/username" name="newPost" enctype="multipart/form-data">

                <div class = "holder">
                    <input type="text" id = "title" placeholder="Title of your post...">
                </div>

                <div class = "holder">
                    <input type="text" id = "author" placeholder="Author" value = "username ">
                </div>

                <div class = "holder">
                    <input type="file" name="file" id="file">
                </div>

                <input type="hidden" id = "date">
                <input type="hidden" id = "time">

                <div class = "holder">
                    <textarea cols = "40" rows="10"placeholder="Type your post here..." id = "post-text"></textarea>
                </div>

                <input type = "submit" name = "NewPost" id = "NP" value = "Submit">


            </form>
        </div>





        {# articles#}
        <div id = "article2">


            <div class="artTitle2">
                <h2>Title</h2>
            </div>

            <div class = "autor2">
                <span>Author: author</span>
            </div>

            <div class="datePubl2">
                <span>Date: Date</span>
            </div>

            <div class = "timePubl2">
                <span>Time: Time </span>
            </div>

            <div class="picArt2">
                <img id = "artPic" src="#" />
            </div>

            <div class="descriptArt2">
                    <span>
                        Что-то тут написано
                    </span>
            </div>



            <div class = "comments">

                <span id = "comments" style = "margin-top: 5px; ">1 comments </span>
                <span id = "views" style = "margin-top: 5px;">123 views</span>


                <div id = "userNameLink">

                    <img src = "#" id = "avatar_min">
                    <input type = "text" id = "write_your_comment" placeholder="Write your comment..." title = "Unregistered users can't comment!">  {#make it resizible by jquery#}
                    <input type = "submit" value = "Comment">

                </div>

                <div class = "comments">

                    <div id = "userNameLink">

                        <img src = "#" id = "avatar_min">
                        <span id = "com"> Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. </span>
                        <span id = "time_com"> Time: 00:46:08</span>
                        <span id= "reply_on"> Reply </span>

                    </div>

                </div>

            </div>

        </div>




    {%  endblock %}



    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <script>

            $(function (){
                $('.newP').click(function (){
                    $(this).toggleClass('active');
                    $('.formNew').slideToggle();
                });

            });
        </script>


    {% endblock %}




