::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:5px;
    height:0px
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: black;
}

::-webkit-scrollbar-thumb:hover{
    background-color:black;
}

::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:4px;
    height:0px
}

::-webkit-scrollbar{
    width: 4px;
}

html, body {
    padding:0;
    margin:0;
    width:100%;
    height: 100%;
    color: #FFFFFF;
    overflow: auto;
 }

#wrapper {

    width: 100%;
    height: 100%;
    display: flex;

}

#left, #right {
    background-color: black;
    width: 20%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
}

#left #NameAndLogo {
    background-color: #6b9311;
    margin-top:60%;
    height:8%;
    width: 100%;
    display: inline-flex;
    /* border-top: 4px solid #dfdfdf; */

}
#left #NameAndLogo h1 {
    text-align: center;
    width: 50%;
    line-height: 65px;
}

#left #NameAndLogo #Logo {
    background-color: #0088CC;
    height: 100%;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    font-size: 30pt;
    letter-spacing: -6px;
    line-height: 65px;

}

#left a {
    text-decoration: none;
    color: black;
}

.mainNav {
    background-color: #0088CC;
    position: static;
}
 .mainNav .navigation li{
     list-style: none;
     background-color: #6b9311;
     margin-bottom: 10px;
     padding: 8px;
 }
  .mainNav .copyright {
      text-align: right;
      padding: 10px;
  }

 #mySocial {
     width: 100%;
     height: 20%;
     margin-top: 10%;
 }

  #mySocial li {
      display: inline-block;
      background-color:  #d923c7;
      margin: 10px;
      list-style: none;
  }
  #mySocial li img {
    width:50px;
    height:50px;
  }




main {
    background-color: black;
    color: #FFFFFF;
    width: 60%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    /*here i must add another properties of flex*/


}
#search input{
    width:90%;
    margin:10px;
    padding-left:10px;
    background-color: rgba(68, 68, 68, 0.5);
    border:none;
}

/*----------------Home----------------------*/

#userStatus {
    margin-top: 2%;
    width:100%;
    height:30px;
    border-bottom: 1px solid forestgreen;
    text-align: center;
}


form {
    margin: 5px;
}
/*------------Log in form---------------*/
.menu {
    width: 100%;
    height: 30px;
    background: black;
    text-align:center;
    padding: 0 10px;
    color: #0088CC;

  }

  .menu:active {
    background:#0088CC;
    color: #2b2b2b;
  }
  .formWrapper {
    width: 100%;
    height: min-content ;
    padding: 15px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    background-color: black !important;
    display: none;
      color: #66dd66 !important;
  }

  .formWrapper input[type=text], .formWrapper input[type=password], .formWrapper input[type=date] {
    width: 100%;
    line-height: 32px;
    display: block;
    margin: 10px 0;
    border: none;
    text-indent: 10px;
      background-color: #66dd66;
  }
  .formWrapper #oneLogin {
      margin:30px 0;
  }
  .formWrapper #forgotten {
    text-align:center;
    margin: 20px;

  }
  .formWrapper #forgotten a {
    text-decoration:none;
    color:#66dd66;
  }

  .formWrapper input[type=submit] {
    padding: 10px 20px;
    border:  2px solid  #66dd66 ;
    background: #FFFFFF;
    font-size: 12px;
    text-transform: uppercase;
    position:relative;
      display:block;
    margin: 0 auto;
  }
/*------------End of Log in form---------------*/

/*---------------Posts-------------------*/

#article {
    background-color: rgba(68, 68, 68, 0.5);
    width:90%;
    height: min-content;
    margin:10px auto;

}

.artTitle {
    background-color: #5eb5e0;
}
.artTitle h2 {
    text-align: center;
    color: #FFFFFF;
}

.artTitle, .autor, .datePubl, .timePubl, .picArt, .descriptArt {
    margin: 0 10px;
    color: #c5c5c5;
}

#artPic {
    width:100%;
    height:40%;

}



#artMore {
    display: block;
    height: 30px;
    border:1px solid rgba(209, 201, 201, 0.5);
    color: #FFFFFF;
    text-align: center;
    margin:10px;
}


#comments, #views {
    display:inline-flex;
    width:45%;
    margin:10px 0;
    justify-content: center;
}

#comments {
    margin-left: 4.5%;
}


/*--------------------New Post--------------------------*/

#formNew {
    margin: 0 auto;
    width: 90%;
}

.holder {
    width:90%;
    margin: 10px auto;
}

#title, #author, #post-text, #file {
    width:400px;
    margin-left: 30%;
}

#NP {
    margin-left: 45%;
}

/*----------------------------User Account-----------------------------*/

#userNameLink {
    width: 100%;
    height: 5%;
    line-height: 250%;
    text-align: center;
}

#userNameLink #un {
    color: #FFFFFF;
}

#userNameLink #avatar_min {
    background-color: #5eb5e0;
    width: 50px;
    height: 50px;
    margin: 20px;
    border-radius: 150px;
}

#User {
    width: 100%;
    height: 100%;
}

#UserWrapper {
    width: 100%;
    height: 50%;
    position: static;
}


#UserWrapper #cover_photo {
    background-color: rgba(27%, 27%, 27%, 0.5);
    width: 90%;
    height: 80%;
    margin: 20px auto;

}
#UserWrapper #add_cover {
    background-color: rgba(27%, 27%, 27%, 0.5);
    color: #FFFFFF;
    position: relative;
}

#UserWrapper .avatar_photo {
    background-color: #FFFFFF;
    width: 150px;
    height: 150px;
    position: relative;
    left: 5%;
    top: 65%;
}
#UserWrapper .horizon_menu {
    background-color: #66dd66;
    border: 3px solid rgba(94, 181, 224, 1);
    margin: 0 auto;
    width: 90%;
    height: 50px;
}

#UserWrapper .horizon_menu li {
    display: inline-flex;
    flex-wrap: nowrap;
    margin: 2%;
    text-transform: uppercase;
}

#UserWrapper .horizon_menu li:nth-child(1) {
    margin-left: 180px;
}

#UserWrapper .horizon_menu li a {
    text-decoration: none;
    text-shadow: 1px 1px 4px #99CDD8;
    letter-spacing: 2px;
    color: black;
}

#UserWall {
    background-color: rgba(27%, 27%, 27%, 0.5);
    width: 90%;
    height: 100%;
    overflow: auto;
    margin: 10px auto;
}


.rightMenu {

    margin: 20px auto;
    width: 90%;
    height: min-content;

}
 .rightMenu ul {
     width: 100%;
     text-align: left;
     margin-top: 50px;
 }

 .rightMenu ul li {
    margin: 20px;
     list-style: none;
 }

.rightMenu ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color:#0088CC;
}
  .rightMenu ul li .icons_right {
      width: 25px;
      height: 25px;
      margin-right: 10px;
  }

  .rightMenu ul li .items_values {
      width: 20px;
      height: 20px;
      margin-left: 30px;
  }

.rightMenu ul li:hover {
    border: 1px solid #0088CC;
}







