
{% extends 'base.html.twig' %}

    {% block title %}Home{% endblock %}



        {% block body %}

        <div>
            <div class="artTitle">
                <h2>Title of article</h2>
            </div>
            <div class = "autor">
                <span>Author: John Doe</span>
            </div>
            <div class="datePubl">
                <span>Date: 01/01/2018</span>
            </div>
            <div class = "timePubl">
                <span>Time: 23:03:44 </span>
            </div>
            <div class="picArt">
                <img src="http://placehold.it/308x231" />


                <div class="descriptArt">

                    Here will be a content of news <br>
                    Here will be a content of news<br>
                    Here will be a content of news<br>
                    Here will be a content of news<br>

                </div>
                <a href="#" class="artMore">
                    More...
                </a>
            </div>
            <div class = "commentsAndViews"> 5 comments 123 views </div>

        {% endblock %}

            {% block sidebar %}

            <div class = "formWrapper">
                <form action="/" name = "Enter" method = "post">
                    <label class = "Login"> Log In:<br>
                        <input type ="text" name = "login"/>
                    </label><br>

                    <label class = "Password"> Enter password:<br>
                        <input type ="password" name = "pswd1"/>
                    </label>
                    <div id = "forgotten"><a href = "#">Forgot your password?</a></div>


                    <input type = "submit" name = "EnterSend" value = "Log In">
                </form><br>
            </div>


            <div class = "formWrapper">
                <form action = "/" name = "Registration" method="post">
                    <label class = "Name"> Name: <br>
                        <input type ="text" name = "UserName">
                    </label>


                    <label> Surame: <br>
                        <input type ="text" name = "UserSurName"><br>
                    </label>

                    <span class = "Gender_wr" datatype="radio">
                    <span class = "gndr">
                         <input type="radio" name="sex" value="1" id = "g_m">
                        <label class = g_1 for="g_m"> Male</label>
                    </span>
                    <span class = "gndr">
                        <input type="radio" name="sex" value="2" id = "g_f">
                        <label class = g_1 for="g_f"> Female </label>
                    </span>

                </span>


            </div>
            <div class = "BDayDiv">

                <label>Birthday:</label>
                <input type = "date" name = "date">
            </div>

            <label> Enter password:<br>
                <input type ="password" name = "pswd">
            </label>

            <label> Confirm password:<br>
                <input type ="password" name = "pswd_confirm"><br>
            </label>

            <div class = "regConf">

                <input type = "submit" name = "reg" value = "Register">


                <div class ="warn">
                    By clicking Create an account, you agree to our Terms and confirm that you have read our Data Policy, including our Cookie Use Policy
                </div>
            </div>
            </form>
        </div>
            {% endblock %}




{% block javascripts %}{% endblock %}
