
{% extends 'base.html.twig' %}

    {% block title %}Home{% endblock %}





        {% block body %}

        <div>
            <div class="artTitle">
                <h2>Title of article</h2>
            </div>
            <div class = "autor">
                <span>Author: John Doe</span>
            </div>
            <div class="datePubl">
                <span>Date: 01/01/2018</span>
            </div>
            <div class = "timePubl">
                <span>Time: 23:03:44 </span>
            </div>
            <div class="picArt">
                <img src="http://placehold.it/308x231" />


                <div class="descriptArt">

                    Here will be a content of news <br>
                    Here will be a content of news<br>
                    Here will be a content of news<br>
                    Here will be a content of news<br>

                </div>
                <a href="#" class="artMore">
                    More...
                </a>
            </div>
            <div class = "commentsAndViews"> 5 comments 123 views </div>

        {% endblock %}




{% block javascripts %}{% endblock %}
