


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
    <title>{% block title %}VA Blog{% endblock %} - Blog</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block stylesheets %}
        <link rel='stylesheet' href= "{{ asset('css/basic-template.css')}}">

    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

<main id="wrapper">


    <aside id="left">
        <h1>VA Blog</h1>
        <div class="top">
            {% block navigation %}
                <nav>
                    <ul class="navigation">
                        <li><a href="/main">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li> <a href = "#">Add a new</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                    Created by <a href="https://github.com/Leratony">Leratony</a>


                </nav>
            {% endblock %}
        </div>





    </aside>

    <main>
        {% block body %}

        <div>
            <div class="shopUnitName">
                <h2>Title of article</h2>
            </div>
            <div class = "autor">
                <span>Author: John Doe</span>
            </div>
            <div class="shopUnitPrice">
                <span>Date: 01/01/2018</span>
            </div>
            <div class = "time">
                <span>Time: 23:03:44 </span>
            </div>
            <div class="shopUnit">
                <img src="http://placehold.it/308x231" />


                <div class="shopUnitShortDesc">

                    Here will be a content of news <br>
                    Here will be a content of news<br>
                    Here will be a content of news<br>
                    Here will be a content of news<br>

                </div>
                <a href="#" class="shopUnitMore">
                    More...
                </a>
            </div>
            <div class = "comments_and_views"> 5 comments 123 views </div>

        {% endblock %}
    </main>

    <aside id="right">
        {% block sidebar %}
            <form action="/main" name = "Enter" method = "post">
                <label class = "Login"> Log In:<br>
                        <input type ="text" name = "login"/>
                    </label><br>

                <label class = "Password1"> Enter password:<br>
                        <input type ="password" name = "pswd1"/>
                    </label>


                <input type = "submit" name = "EnterSend" value = "Log In">
            </form>
        {% endblock %}
    </aside>


</main>


{% block javascripts %}{% endblock %}
</body>
</html>