
{% extends 'base.html.twig' %}

    {% block title %}Home{% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel='stylesheet' href= "{{ asset('css/basic-template.css')}}">
        <linl rel="stylesheet" href = "{{ asset('css/home-template.css')}}">

    {% endblock %}


            {% block user %}
            <span>Hello, guest!</span>
            {% endblock %}

            {% block sidebar %}
            <br>

        <div id="accordion">
            <div class="menu">Log In</div>
            <div class = "formWrapper">

                <form action="/" name = "Enter" method = "post">

                    <input type ="text" name = "login" placeholder = "Login" id = "oneLogin" required autofocus>
                    <input type ="password" name = "pswd" placeholder = "Password" required>
                    <div id = "forgotten">
                        <a href = "#">Forgot your password?</a>
                    </div>
                    <input type = "submit" name = "EnterSend" value = "Go!" >

                </form>
            </div>



            <div class="menu">Register</div>

            <div class="formWrapper">
                <form action="/" name="Registration" method="post">

                    <input type="text" name="UserName" required placeholder="Name">
                    <input type="text" name="UserLogin" required placeholder="Login"><br>


                    <div id="genderDiv">
                            <span class="Gender_wr" datatype="radio">
                    <span class = "gndr">
                         <input type="radio" name="sex" value="1" id = "g_m" required>
                        <label class = g_1 for="g_m"> Male</label>
                    </span>
                            <span class="gndr">
                        <input type="radio" name="sex" value="2" id = "g_f" required>
                        <label class = g_1 for="g_f"> Female </label>
                    </span>

                            </span>
                    </div>

                    <input type="date" name="date">
                    <input type="password" name="pswd" required placeholder="Think up password">
                    <input type="password" name="pswd_confirm" required placeholder="Confirm password"><br>
                    <input type="submit" name="reg" value="Register" class = "rg-btn">


                </form>
            </div>
        </div>

            {% endblock %}

            {% block body %}

                <div id="openModal" class="modalDialog">


                    <a href="#close" title="Закрыть" class="close">X</a>
                    <div id = "article2">
                        <div class="artTitle2">
                            <h2>Title of article</h2>
                        </div>
                        <div class = "autor2">
                            <span>Author: John Doe</span>
                        </div>
                        <div class="datePubl2">
                            <span>Date: 01/01/2018</span>
                        </div>
                        <div class = "timePubl2">
                            <span>Time: 23:03:44 </span>
                        </div>


                        <div class="picArt2">
                            <img id = "artPic" src="#" />
                        </div>

                        <div class="descriptArt2">

                        <span>
Почему он используется?<br>
Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
<br>Где его взять? <br>
Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.
                        </span>
                        </div>



                        <div class = "comments">
                            <span id = "comments" style = "margin-top: 5px; ">1 comments </span>
                            <span id = "views" style = "margin-top: 5px;">123 views</span>

                            <div id = "userNameLink">
                                <img src = "#" id = "avatar_min">
                                <input type = "text" id = "write_your_comment" placeholder="Write your comment..." title = "Unregistered users can't comment!">  {#make it resizible by jquery#}
                                <input type = "submit" value = "Comment">
                            </div>
                            <div class = "comments" style = "background-color: #FFFFFF; ">
                                <div id = "userNameLink">
                                    <img src = "#" id = "avatar_min">
                                    <span id = "com"> Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. </span>
                                    <span id = "time_com"> Time: 00:46:08</span>
                                    <span id= "reply_on"> Reply </span>
                                </div>

                            </div>



                        </div>

                    </div>


                </div>




                <div id = "article">
                    <div class="artTitle">
                        <h2>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации</h2>
                    </div>
                    <div class = "autor">
                        <span>Author: John Doe</span>
                    </div>
                    <div class="datePubl">
                        <span>Date: 01/01/2018</span>
                    </div>
                    <div class = "timePubl">
                        <span>Time: 23:03:44 </span>
                    </div>
                    <div class="picArt">
                        <img id = "artPic" src="{{ asset('images/364015_motocikl_krasnyj_motocikly_1920x1200_(www.GetBg.net).jpg') }}" />
                    </div>


                    <a href="#openModal" id="artMore">Read More</a>

                    <div id = "commentsAndViews">
                        <span id = "comments">5 comments </span>
                        <span id = "views">123 views</span>
                    </div>
                </div>



            {% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <script>
        $( function() {
            $( "#accordion" ).accordion();
        } );
    </script>




{% endblock %}



