{% extends 'layout.html.twig' %}

    {% block title %}Settings{% endblock %}



    {% block body %}
        <div class = "aboutMe">
            <br>
            <h2>Here will be settings like changing a view schema</h2>
        </div>
    {% endblock %}