{% extends 'base.html.twig' %}

    {% block title %}About me{% endblock %}

    {% block body %}
        <div class = "aboutMe">
            <span>
                Hello there!<br>
                I'm Valeria Antonova and I like to make a good sites! No, really.<br>
                It's awesome for me and I hope - for my customers too.

            </span>
        </div>
    {% endblock %}


    {% block user %}
        <span>Hello, guest!</span>
    {% endblock %}
