{% extends 'home/show.html.twig' %}

    {% block title %}About me{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href= "{{ asset('css/basic-template.css')}}">
{% endblock %}

    {% block body %}
        <div class = "aboutMe">
            <span>
                Hello there!<br>
                I'm Valeria Antonova and I like to make a good sites! No, really.<br>
                It's awesome for me and I hope - for my customers too.

            </span>
        </div>
    {% endblock %}


    {% block user %}
        <span>Hello, guest!</span>
    {% endblock %}



{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <script>
        $( function() {
            $( "#accordion" ).accordion();
        } );
    </script>

    <script>

    </script>


{% endblock %}
